body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* HÄR NEDAN FINNS GEMENSAM DESIGN FÖR HELA SYSTEMET: */

/*Allt till navbaren*/

/* Detta gäller hela navbaren */
.navbar {
    background-color: #b6e0ea;
    height: 80px;
    margin-bottom:50px;
}

/* Ändra texten i navbaren */
.navel a {
    color: black;
}

.navel:active {
    color: black !important;
    background-color: lightblue !important;
}

/* När du hovrar över en länk i navbaren */
.navel a:hover {
        color: black !important;
        background-color: lightblue !important;
    }

/* Få alla länkar centrerade till vänster i navbaren - Lägg till denna i rad 11 av _Layout.cshtml och vid den befintliga klassen i div:en */
.navbarTextiMitten {
    font-size: 20px;
    padding-top: 20px;
}

/* Ändra första på länken på navbaren */
a.navbarBrand {
    color: black;
    font-family: Stencil;
    font-weight: bold;
    font-size: 35px;
}
/*Denna (nedan) kan tas bort enligt den upplagda designen. */
a.navbarBrand:hover {
        color: black;
        font-weight: bold;
        font-size: 35px;
}

a.navbarBrand:active {
        color: black;
        font-weight: bold;
        font-size: 35px;
}

/* Design till formulär och input */

/* Design på knappar: använd class="btn knapp" */
.knapp {
    border-radius: 15px 15px;
}

/* Design till input-formulär */
.rundaKanter {
    border-radius: 15px 15px;
}

/* Startpage */

/* Detta är designen till sökfunktionen */

.sok {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Textrutan för sök */
.sokruta {
    width: 1200px;
    height: 50px;
    border-radius: 15px 15px;
    font-size: 20px
}

/* Knappen för sök */
.sokknapp {
    height: 50px;
    width: 80px;
    font-size: 20px;
    border-radius: 15px 15px;
}

/* Bakgrunden på sökrutan */
.jumbotron {
     background-image: url('../Image/Namnlös.png'); 
  /*  background-image: url('../Image/event6.jpg'); */
}


/*Design till korten som visar upp eventen*/
    /* Kontainer som omger ett event */
    .containerr {
    position: relative;
    width: 30%;
    padding: 20px;
}

/* Bilden som visas upp gällande ett specifikt event */
.imageStart {
    display: block;
    width: 100%;
    height: 232px;
}

/* När man hovrar över ett event */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #b6e0ea;
}

.containerr:hover .overlay {
    opacity: 1;
}

/* Texten som visas i lagret som framträder när man hovrar */
.text {
    color: black;
    font-size: 15px;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Länkar som omger alla korten för event */
.card-link-text {
    color: black;
}

/* Knapp på overlay för att spara event */
.knappOverlay1 {
    position: absolute;
    top: 70%;
    left: 10%;
}
/* Profile */
-Pbody {
    padding-top: 30px;
}

.glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Försöker designa Footern */

.customBlock {
    float: left;
}

.dropd {
    border-color: black;
    border: 20px;
    color: black;
    background-color: white;
    float: right;
}

.dropdItem {
    padding: 10px;
    float: left !important;
}

.dropd a {
    color: black;
}

.dropd a:hover {
    color: black;
    background-color: #b6e0ea;
}

.dropd a::after {
    color: black;
}

.dropd a:active {
    color: black;
    background-color: #b6e0ea;
}

.tab {
    tab-size: 4;
}

h1.Pagetitle {
    text-align: center;
}

/*Under är allt jag har lagt till */
.brown { /*Index home på alla knappar*/
    background-color: #b6e0ea;
    color: black;
    border-radius: 15px 15px;
    padding: 10px;
}

.TitelEvent{
    letter-spacing:4px;
    font-family: Stencil;
    font-weight: bold;
    color:black;
}
.Titel{
    letter-spacing:10px;
    font-family: 'Lucida Calligraphy';
    color: black;
    font-weight:bolder;
    font-size:40px;
}




/*Login*/
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align:center;
    align-items:center;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
     background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}



/* FORM TYPOGRAPHY*/


.loginText {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    align-content:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    .loginText:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }



